@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@media only screen and (min-width: 999px) {
  .mobile-only {
    display: none;
  }
}
@media only screen and (max-width: 999px) {
  .desktop-only {
    display: none;
  }
}
img {
  max-width: 100%;
  height: auto; /* Ensures that the aspect ratio of the image is maintained */
}

.black {
  color: #5B5A5F !important;
}

.section {
  width: 100% !important;
}

h1, h2, h3, h4, h5, h6, .nav-link {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
}

label.required {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

label.required:before {
  content: "*";
  color: darkred;
  font-size: 1.1rem;
  font-weight: 600;
  top: 0;
  margin-left: 0.2rem;
}

h6 {
  font-size: 1.2rem;
}

.hf {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

a.inherit-style {
  color: inherit !important;
  text-decoration: inherit !important;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.bold {
  font-weight: bold;
}

.fw600 {
  font-weight: 600;
}

.fw700 {
  font-weight: 700;
}

.fw800 {
  font-weight: 800;
}

.fw900 {
  font-weight: 900;
}

.small {
  font-size: 0.8rem !important;
}

.x-small {
  font-size: 0.6rem;
}

p, b, i, .small, li {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  color: #5B5A5F;
  font-size: 0.85rem;
  /*
    font-family: "Arial", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: $black;
    font-size: 0.85rem;
    letter-spacing: 0.05rem;
    */
}

.real-black {
  color: #000000;
}

.bg-light-gray {
  background-color: #E3E1DF;
}

.bg-white {
  background-color: #ffffff;
}

.salmon-light {
  color: #C5A07D !important;
}

.white {
  color: #ffffff !important;
  background-color: transparent;
}

.light-gray {
  color: #E3E1DF;
}

.flex-cont {
  display: flex;
  flex-wrap: wrap;
}

.flex-cont.center {
  justify-content: center;
}

.box-1 {
  display: flex;
  width: 100%;
  padding: 15px;
}

.box-2 {
  display: flex;
  width: 50%;
  padding: 15px;
}

.box-3 {
  display: flex;
  width: 33.3333333%;
  padding: 15px;
}

.box-4 {
  display: flex;
  width: 25%;
  padding: 7px;
}

.box-3x2 {
  display: flex;
  width: 66.666666%;
  padding: 15px;
}

.mandatory h2, .mandatory h3, .mandatory h4 {
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
  color: #5B5A5F;
}
.mandatory h2 {
  font-weight: 600;
  font-size: 1.4rem;
}
.mandatory h3 {
  font-weight: 600;
  font-size: 1.3rem;
}
.mandatory h4 {
  font-weight: 400;
  font-size: 1.2rem;
}
.mandatory .box-1 {
  text-align: left;
}

.flex {
  display: flex;
}

.block {
  display: block;
}

.flex-left {
  justify-content: start;
}

.flex-right {
  justify-content: end;
}

.block {
  display: block;
}

.navbar {
  padding: 3% 10% !important;
}
.navbar .logo {
  min-height: 50px;
  width: 100%;
}

footer {
  padding: 10%;
  --bs-gutter-x: 0px !important;
}
footer .logo {
  width: 100%;
}
footer .col {
  padding: 20px 10px;
}
footer .nav-item, footer .nav-link {
  text-wrap: nowrap;
  font-weight: 700 !important;
  letter-spacing: 3px !important;
  text-transform: uppercase !important;
  color: #ffffff !important;
  font-size: 0.9rem !important;
}
footer .mar-left-5pc {
  padding-left: 5%;
}
footer .col.footer-section.full {
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
}
footer .other {
  display: flex;
  list-style: none;
}
footer .other .text {
  font-size: 0.6rem;
  font-weight: 300;
  color: #ffffff;
  margin: 0px;
  padding: 0px;
  background-color: transparent !important;
  border: none !important;
  text-decoration: none;
}
footer .other li:not(:first-child) {
  margin-left: 1rem;
}

section .content {
  padding: 40px 15%;
}

section .content.plus10p {
  padding: 20px 25%;
}

section .title {
  padding: 20px 0;
}

.background-clocks {
  background-image: url("/media/background/clocks.webp") !important;
  background-size: cover;
  background-position: center;
}

.background-marble {
  background-image: url("/media/background/dark-marble.webp") !important;
  background-size: cover;
  background-position: center;
}

.contact-background {
  background-image: url("/media/background/symbol-pattern.webp") !important;
  background-size: cover;
  background-position: center;
}

.footer-background {
  background-color: #093133;
}

.static-map {
  height: 500px;
  width: 100%;
  max-height: 50vh;
  background-image: url("/media/background/map.webp"); /* Cesta k obrázku */
  background-size: cover; /* Oříznout obrázek tak, aby se přizpůsobil rozměrům prvku */
  background-position: center; /* Zaměření se na střed obdélníku */
}

#hodnoty {
  background-image: url("/media/background/columns-light.webp") !important;
  background-size: cover;
  background-position: center;
}

.navbar .nav-link {
  text-wrap: nowrap;
  font-size: 0.8rem !important;
  font-weight: 600 !important;
  text-transform: uppercase;
}

.nv-light .nav-item, .nv-light .nav-link {
  color: #5B5A5F !important;
}

.nv-dark .nav-item, .nv-dark .nav-link {
  color: #ffffff !important;
}

.nv-light .navbar {
  padding: 1% 10% !important;
}

.contact-form {
  background-color: #ffffff;
  padding: 2rem;
  width: 100%;
  border-radius: 5px;
}

.bottom-border {
  background-color: transparent !important;
  border-radius: 0px !important;
  border-left: none !important;
  border-top: none !important;
  border-right: none !important;
  border-bottom: solid #C5A07D 2px !important;
}

.navbar-addon {
  width: 100%;
  justify-content: center;
}

.claim-container {
  width: 100%;
  justify-content: center;
  text-align: center;
  padding: 7% 0px;
}
.claim-container .btn {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.claim-text {
  font-size: 3rem;
  color: #ffffff;
  margin: 0px;
  font-weight: 600;
  letter-spacing: 1px;
}

.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.section-title {
  font-weight: 700;
  letter-spacing: 4px;
  font-size: 1.8rem;
  text-transform: uppercase;
  color: #5B5A5F;
}

.section-header {
  padding-top: 2rem;
  display: flex;
  align-items: center;
}
.section-header .icon {
  color: #C5A07D;
  height: 2rem;
  display: flex;
  align-items: flex-end;
}

.more-icon {
  color: #C5A07D;
  font-size: 1.5rem;
}

.right {
  text-align: right;
  justify-content: flex-end;
}

.btn.sl {
  color: #5B5A5F;
  background-color: #C5A07D;
  border-radius: 0px !important;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
  font-size: 0.8rem;
  text-transform: uppercase;
  padding-left: 2rem;
  padding-right: 2rem;
}

.btn.sl:hover {
  color: #ffffff;
  background-color: #AD7B4D;
}

button:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: transparent !important;
}

.ns {
  line-height: 8px;
}

.text-div {
  display: block;
}

.footer-section {
  padding: 20px 50%;
}

.hodnota .number {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
  font-size: 3rem;
  color: #C5A07D;
}
.hodnota .title {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #5B5A5F;
  padding: 1rem 0;
}

.specializace {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem !important;
  background-color: #fff;
  padding: 30px;
  width: calc(33.333333% - 2rem);
}
.specializace .detail {
  width: 100%;
}
.specializace .icon {
  color: #C5A07D;
  max-height: 3rem;
  margin-bottom: 1rem;
}
.specializace .header {
  display: block;
  min-height: 6rem;
}
.specializace .title {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #5B5A5F;
}
.specializace .more {
  color: #c5a07d;
  display: flex;
  justify-content: flex-end;
}
.specializace .more img {
  color: #C5A07D;
}

.specializace.detail {
  margin: 0px !important;
  padding: 15px 10px;
  width: 100%;
  background-color: transparent !important;
}
.specializace.detail .title {
  font-weight: 600;
}
.specializace.detail .header {
  min-height: auto !important;
}

.person-preview {
  width: 100% !important;
}
.person-preview a, .person-preview p, .person-preview h6, .person-preview small {
  text-decoration: none !important;
  color: inherit;
}
.person-preview img {
  width: 100%;
}
.person-preview .name {
  margin-top: 1rem;
  color: #5B5A5F !important;
  text-decoration-style: none !important;
}
.person-preview .job {
  margin-bottom: 1rem;
  color: #5B5A5F !important;
  text-decoration: none !important;
}

.medailon {
  display: flex;
  width: 100%;
  padding-top: 2rem;
}
.medailon .photo {
  width: 100%;
}
.medailon .title {
  font-size: 1.5rem;
}
.medailon ul {
  list-style: none;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 0rem !important;
  padding-left: 0rem !important;
}
.medailon ul.bullet-points li:before {
  content: "•";
  color: #C5A07D;
  font-size: 15px;
  margin-right: 10px;
}
.medailon .divider {
  width: 100%;
  margin: 1rem 0;
  background-color: #C5A07D;
  height: 2px;
}
.medailon .photo-container {
  display: block;
  padding-right: 1rem;
  flex: 1;
}
.medailon .text-container {
  min-width: auto;
  flex: 1;
}
@media only screen and (min-width: 999px) {
  .medailon .text-container {
    padding-top: 0px;
    margin-top: 0px;
    padding-left: 1rem;
  }
  .medailon .text-container .title {
    padding-top: 0px;
    margin-top: 0px;
  }
}

.thumbnails .box-3 {
  width: 25%;
}

.all-team {
  width: 100%;
  display: flex;
  justify-content: center;
}

.small-section-divider {
  border-top: 3px solid #C5A07D; /* You can adjust the color and thickness as needed */
  min-height: 1rem;
  width: 100px; /* Adjust the width as needed */
}

.contact-claim {
  font-size: 2rem;
  text-align: left;
  display: flex;
  align-content: center;
  align-items: center;
}

#kontakt label:after {
  background-color: transparent !important;
  color: #5B5A5F;
}
#kontakt form {
  width: 60%;
}
#kontakt form .form-floating {
  padding: 5px 10px 0px 0px;
}
#kontakt form .w-50 {
  width: 50%;
}
#kontakt form .w-100 {
  width: 100%;
}
#kontakt form .form-check-input:checked {
  background-color: #C5A07D;
  border-color: #C5A07D;
}
#kontakt form textarea {
  min-height: 5rem;
}
#kontakt .contact-line {
  display: flex;
  text-decoration: none;
}
#kontakt .contact-line .icon {
  margin-right: 1rem;
  color: #C5A07D;
  font-size: 1.2rem;
}
#kontakt .contact-line .text {
  font-size: 1.2rem;
}
#kontakt .form-text {
  width: 40%;
}
#kontakt .callback .success {
  color: green;
}
#kontakt .callback .error {
  color: red;
}

.appendix.left {
  text-align: right;
}

.appendix.middle {
  width: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.appendix.right {
  text-align: left;
}

.social-media-panel {
  display: flex;
}
.social-media-panel i {
  color: #C5A07D;
  margin-right: 1rem;
}
.social-media-panel i:not(:last-child) {
  margin-right: 1rem;
}

.form-floating > label {
  font-weight: 600;
  background-color: transparent;
}

#reference #desktopreferencecarousel {
  padding-top: 1rem;
  padding-bottom: 2rem;
}
#reference .gallery {
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: center;
}
#reference .ref-logo-cont {
  display: flex;
  justify-items: center;
  padding: 2%;
  color: #ffffff;
}
#reference .ref-logo-cont img {
  filter: grayscale(100%);
  transition: transform 0.3s ease;
  max-height: 70px;
}
#reference .ref-logo-cont:hover img {
  filter: none !important;
  transform: scale(1.1);
}

.align-start {
  justify-content: start;
}

.carousel.flex-cont {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.carousel.flex-cont .carousel-inner {
  max-width: 70%;
}
.carousel.flex-cont .btn {
  color: #C5A07D;
}

@media only screen and (max-width: 999px) {
  .mobile-full-width {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .mobile-bottomless {
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  .box-1, .box-2, .box-3, .box-4 {
    margin: 0rem;
    display: block;
    width: 100%;
    text-align: center;
    padding: 0rem;
  }
  .section-header {
    display: flex;
    flex-direction: column-reverse;
  }
  .section-header .title {
    font-weight: 800;
    letter-spacing: 2px;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #5B5A5F;
  }
  .section-header .icon {
    color: #C5A07D;
    height: 2rem !important;
  }
  .person-preview {
    width: 100% !important;
  }
  .claim-container .text {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .navbar {
    padding: 3% 5% !important;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    flex-flow: row;
  }
  .navbar .navbar-brand {
    margin-left: 0px;
  }
  .navbar .navbar-container {
    width: 100%;
    display: block;
    text-align: center;
  }
  .navbar ul.navbar-nav {
    text-align: center;
  }
  .navbar .logo {
    min-height: 40px;
    width: 100%;
  }
  .navbar .navbar-toggler {
    margin-top: 1rem;
    border: none !important;
  }
  .navbar .navbar-toggler :focus {
    outline: none !important;
    box-shadow: none !important;
  }
  .navbar .navbar-toggler i {
    color: #E3E1DF;
    margin-top: 3rem;
    font-size: 2rem;
  }
  .navbar-addon {
    padding: 10%;
    text-align: center;
  }
  .claim-container {
    padding: 10%;
  }
  .claim-container .claim-text {
    font-size: 2rem;
  }
  .section-header .icon {
    display: flex;
    justify-content: center;
  }
  .section-header .box-2 {
    padding: 0px;
  }
  .section-header .box-2.right {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 1rem;
  }
  footer {
    display: block;
    padding: 10%;
  }
  footer .nav-item, footer .nav-link {
    text-wrap: nowrap;
    font-weight: 700 !important;
    letter-spacing: 3px !important;
    text-transform: uppercase !important;
    color: #ffffff !important;
    font-size: 0.9rem !important;
  }
  footer .col {
    width: 100% !important;
    text-align: center;
  }
  footer .footer-section .left, footer .footer-section .right {
    text-align: center;
  }
  footer .logo {
    padding-right: 0rem;
    width: 100%;
  }
  footer .mar-left-5pc {
    padding-left: 0%;
  }
  footer .col.footer-section.full {
    width: 100%;
    padding: 0% 10px;
    display: flex;
  }
  footer .other {
    display: flex;
    flex-direction: column;
    padding: 0px;
  }
  footer .other li, footer .other li:not(:first-child) {
    text-align: center;
    padding-left: 0px;
    margin-left: 0px;
  }
  .all-team {
    padding: 1.5rem 1rem !important;
  }
  .all-team .btn {
    width: 100%;
  }
  section .content {
    padding: 0px 0px;
  }
  section .title {
    padding: 10px 0;
  }
  .specializace {
    width: 100%;
    padding: 2rem;
    margin: 1rem 1rem 0px 1rem !important;
  }
  .specializace .header {
    min-height: 0px;
  }
  #typ .btn {
    margin-bottom: 2rem;
  }
  .specializace.detail {
    text-align: center;
    margin: 0px !important;
    padding: 25px 10px;
    width: 100%;
    background-color: transparent !important;
  }
  .specializace.detail .title {
    font-weight: 600;
  }
  .specializace.detail .header {
    min-height: auto !important;
  }
  .appendix {
    padding: 0px;
  }
  .appendix.left {
    text-align: center;
  }
  .appendix.middle {
    width: 50%;
    text-align: center;
  }
  .appendix.right {
    text-align: center;
  }
  .social-media-panel {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
  .spaced {
    padding: 1rem;
  }
  #kontakt .contact-line {
    justify-content: center;
  }
  #kontakt .box-2.right {
    display: none;
  }
  #kontakt .form-text {
    width: 100%;
  }
  #kontakt .contact-form {
    width: 100%;
  }
  #kontakt .contact-form .w-50 {
    width: 100% !important;
  }
  .contact-claim {
    font-size: 1.5rem;
    padding: 1rem 2rem;
    display: flex;
    align-content: center;
    align-items: center;
    text-align: center;
  }
  .contact-form {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 0px;
  }
  .medailon {
    display: block;
    padding-top: 0px;
  }
  .medailon .photo-container {
    width: 100%;
    display: block;
    padding-right: 0px;
  }
  .medailon .text-container {
    width: 100%;
    padding: 5%;
  }
  .thumbnails .box-3 {
    width: 100%;
  }
  #reference .gallery {
    padding: 5%;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: stretch;
    justify-content: space-evenly;
  }
  #reference .ref-logo-cont {
    display: flex;
    padding: 7%;
  }
  #reference .ref-logo-cont img {
    filter: grayscale(100%);
    transition: transform 0.3s ease;
    max-height: 70px;
  }
  #reference .ref-logo-cont:hover img {
    filter: none !important;
    transform: scale(1.1);
  }
  .text-side-space {
    padding-left: 5%;
    padding-right: 5%;
  }
}