extends layout.pug

block navbar
	-var navbarClass = "background-clocks nv-dark";
	-var logo = "light";
	include navbar.pug
block content
	.claim-container
		h1.black.claim-text.hf.fw700() !{message404}