extends layout

block navbar
	-var navbarClass = "background-clocks nv-dark";
	-var logo = "light";
	include navbar.pug		

block content
	section#o-nas
		.content
			.flex-cont.section-header
				.box-1.left
					h1.section-title Poučení o zpracování osobních údajů klienta AML
			.flex-cont.mandatory
				.box-1.block.spaced.text-side-space
					i Advokát je povinnou osobou podle zákona č. 253/2008 Sb., o některých opatřeních proti legalizaci výnosů z trestné činnosti a financování terorismu („AMLZ“) a dle tohoto zákona je povinen provádět opatření podle tohoto zákona a dalších předpisů, mimo jiné provádět identifikaci a kontrolu klienta. Za tímto účelem je povinen shromažďovat a uchovávat osobní údaje klienta a pořizovat kopie dokladů, z nichž tyto údaje ověřil.					
					h2 Rozsah zpracovávaných údajů
					p Advokát zpracovává všechna jména a příjmení, rodné číslo, datum narození a pohlaví, trvalý nebo jiný pobyt a státní občanství, číslo průkazu totožnosti, fotografie z průkazu totožnosti a další údaje obsažené na průkazu totožnosti, jde-li o fyzickou osobu. V případě podnikající fyzické osoby pak déle též údaje o obchodní firmě, sídle a identifikačním čísle osoby. Zpracovávány také mohou být kontaktní údaje, zejména telefonní číslo a emailová adresa, a další údaje získané v rámci kontroly a průběžné kontroly klienta a plnění dalších povinností dle AML zákona. 					
					h2 Určení doby zpracování údajů
					p Po dobu 10 let po uskutečnění obchodu mimo obchodní vztah nebo ukončení obchodního vztahu.
					h2 Vymezení účelu zpracovávání údajů
					p Účelem je plnění zákonných povinností v oblasti boje proti legalizaci výnosů z trestné činnosti a financování terorismu. 
					h2 Upozornění na formu zpracovávání údajů 
					p Údaje mohou být zaznamenány jak v elektronické, tak listinné podobě spolu s dokumenty ověřující pravdivost údajů. Z dokladů, z nichž byly údaje ověřeny, mohou být pořizovány kopie a mohou být archivovány.
					h2 Poučení o právech nositele údajů a jeho možnostech zpracování údajů omezit a vyloučit
					p Nositel údajů má právo omezit nebo vyloučit zpracování údajů pouze v zákonem stanovených případech v souladu se zákonem č. 110/2019 Sb., o zpracování osobních údajů, ve znění pozdějších předpisů, a za podmínek a v souladu se zákonem č. 253/2008 Sb., o některých opatřeních proti legalizaci výnosů z trestné činnosti a financování terorismu, ve znění pozdějších předpisů.
					h2 Poučení o předávání osobních údajů
					p Údaje mohou být předávány pouze za podmínek a v souladu se zákonem č. 110/2019 Sb., o zpracování osobních údajů, ve znění pozdějších předpisů, a za podmínek a v souladu se zákonem č. 253/2008 Sb.,  o některých opatřeních proti legalizaci výnosů z trestné činnosti a financování terorismu, ve znění pozdějších předpisů. 
					h2 Poučení o orgánu dozoru
					p Orgánem dozoru při plnění povinnosti dle AML zákona je Česká advokátní komora a Finanční analytický úřad.  