div#footer.footer-background
			footer.row.row-cols-1.row-cols-sm-2.row-cols-md-4.py-4.my-4.border-top(style="margin-top: 0px !important; margin-bottom: 0px !important; border: none !important;")
				.col.footer-section
					a.d-flex.align-items-center.link-dark.text-decoration-none(href='/')
						img.logo(src="/media/logo-light-crown.svg" alt="Logo Šimková Legal s.r.o." style="width:100%;")
				.col.footer-section.mar-left-5pc
					ul.nav.flex-column
						each s in sections					
							li.nav-item.mb-2
								a.nav-link.p-0(href=s.url) !{s.label}
				.col.footer-section
					a.inherit-style(href="tel:+420 775 854 047")
						p.white.small.ns 
							b.white.small T:&nbsp
							| +420 775 854 047
					a.inherit-style(href="mailto:recepce@simkova@legal.cz")
						p.white.small.ns
							b.white.small E:&nbsp
							| recepce@simkovalegal.cz
					.text-div
					p.white.small Zapsáno do OR: Městský soud v Praze oddíl C vložka 138376
					.text-div
					p.white.small ID datové schránky kanceláře:&nbsp
						b.white.small sxujfdy
				.col.footer-section
					p.white.small.ns
						b.white.small ŠIMKOVÁ LEGAL s.r.o.
					p.white.small.ns Advokátní kancelář
					.text-div
					p.white.small Římská 103/12<br>120 00 Praha 2 - Vinohrady
					.text-div
					p.white.small 
						| IČO: 28393309
						br
						| DIČ: CZ28393309
				//.col.footer-section.full
					.col.footer-section.appendix.middle
						p.x-small.light-gray  Informace pro spotřebitele: Podle zákona č. 634/1992 Sb., o ochraně spotřebitele, v platném znění, má spotřebitel právo na mimosoudní řešení spotřebitelského sporu vyplývajícího ze smlouvy o poskytování právních služeb. Pověřeným subjektem pro mimosoudní řešení spotřebitelských sporů mezi advokátem a spotřebitelem ze smluv o poskytování právních služeb je Česká advokátní komora, webové stránky: 
							a.inherit-style(href="https://www.cak.cz" target="_blank")
								| www.cak.cz. 
				.col.footer-section.appendix.left
					p.x-small.light-gray © ŠIMKOVÁ LEGAL s.r.o. 2024.
				.col.footer-section.appendix.middle
					ul.other
						li
							button.text(type="button" data-cc="show-preferencesModal") Nastavení cookies
						li
							a.text(href="/ochrana-osobnich-udaju") Ochrana osobních údajů
						li
							a.text(href="/aml") Poučení klienta o AML
						li
							a.text(href="/pouceni-pro-spotrebitele") Poučení pro spotřebitele
				.col.footer-section.appendix.right
					.social-media-panel(style="visibility:hidden;")
						i.bi.bi-facebook
						i.bi.bi-linkedin
						i.bi.bi-twitter
				div(style="width: 100%; text-align: center;")
					a.inherit-style(href="https://www.evalytics.cz" target="_blank") 
						p.x-small.light-gray Web by Evalytics