#kariera.career-background
		section
			.content
				.flex-cont.section-header
					.box-2.left
						h1.section-title Kariéra
					.box-2.right
						.icon
							//.small-section-divider
				.flex-cont
					.box-2.left
						.flex-cont
							.career-claim
								.hf.fw700.white.uppercase.text-shadow Máte zájem u nás pracovat? Ozvěte se nám.
					.box-2
						form.career-form(action="https://formsubmit.co/muzikp@gmail.com" method="POST")
							.form-floating.mb-3
								input.form-control.bottom-border(name = "name" type='text' placeholder='Vaše jméno' required)
								label(for='floatingInput') Jméno
							.form-floating.mb-3
								input.form-control.bottom-border(name="email" type='email' placeholder='name@example.com' required)
								label(for='floatingInput') Váš email
							.form-floating.mb-3
								input.form-control.bottom-border(name="phone" type='phone' placeholder='name@example.com')
								label(for='floatingInput') Váš telefon
							.form-floating.mb-3
								textarea.form-control.bottom-border(name="message" rows=5 type='text' placeholder='name@example.com' required)
								label(for='floatingInput') Váše zpráva
							button.btn.sl(type="submit") Odeslat
								i.bi.bi-arrow-right(style="margin-left: 0.5rem;")
							.callback