#kontakt.contact-background
	link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/izitoast@1.4.0/dist/css/iziToast.min.css" integrity="sha256-f6fW47QDm1m01HIep+UjpCpNwLVkBYKd+fhpb4VQ+gE=" crossorigin="anonymous")
	script(src="https://cdn.jsdelivr.net/npm/izitoast@1.4.0/dist/js/iziToast.min.js" integrity="sha256-321PxS+POvbvWcIVoRZeRmf32q7fTFQJ21bXwTNWREY=" crossorigin="anonymous")
	section
		.content
			.flex-cont.section-header
				.box-2.left
					h1.section-title Kontakt
				.box-2.right
			.flex-cont
				.box-2.left.form-text.block
					h6 Máte zájem o naše právní služby? Ozvěte se nám na kontakt níže, nebo prostřednictvím formuláře.					
					br
					a.contact-line(href="tel:+420775854047")
						i.icon.bi.bi-telephone-fill
						p.text +420 775 854 047
					a.contact-line(href="mailto:recepce@simkovalegal.cz")
						i.icon.bi.bi-envelope-fill
						p.text recepce@simkovalegal.cz
				form.contact-form(action="javascript:void(0)" method="POST").flex-cont
					.form-floating.mb-3.w-50
						input.form-control.bottom-border(name = "krestni_jmeno" type='text' autocomplete="given-name" required)
						label.required() Křestní jméno
					.form-floating.mb-3.w-50
						input.form-control.bottom-border(name = "prijmeni" type='text' autocomplete="family-name" required)
						label.required() Příjmení
					.form-floating.mb-3.w-50
						input.form-control.bottom-border(name="email" type='email' required autocomplete="email")
						label.required() Email
					.form-floating.mb-3.w-50
						input.form-control.bottom-border(name="telefon" type='phone' autocomplete="tel")
						label() Telefon
					.form-floating.mb-3.w-100
						select.form-select.bottom-border(name="specializace")
							option(disabled selected="") -- vyberte --
							each s in specializace
								option() !{s.title}
						label() Oblast, ve které hledáte pomoc
					.form-floating.mb-3.w-100
						textarea.form-control.bottom-border(name="message" rows="5" type='text' placeholder='' required)
						label.required() Váše zpráva
					.form-floating.mb-3.w-100
						.form-check
							input.form-check-input(name="gdpr" type='checkbox' value='' required)
							label.required.form-check-label() Souhlas se zpracováním osobních údajů									
					button.btn.sl(type="submit" style="height: fit-content;") Odeslat
						i.bi.bi-arrow-right(style="margin-left: 0.5rem;")
					.callback
.mapa
			a(href="https://www.google.com/maps/place/%C5%98%C3%ADmsk%C3%A1+103%2F12,+120+00+Vinohrady/@50.0778483,14.4309794,17z" target="_blank")
				.static-map