extends layout

block navbar
	-var navbarClass = "background-clocks nv-dark";
	-var logo = "light";
	include navbar.pug		

block content
	section#o-nas
		.content
			.flex-cont.section-header
				.box-1.left
					h1.section-title Ochrana osobních údajů
			.flex-cont.mandatory
				.box-1.block.spaced.text-side-space
					h2 Zásady zpracování osobních údajů
					p Ochrana soukromí našich klientů a dalších jednotlivců je pro nás důležitá. Tyto Zásady zpracování osobních údajů vysvětlují, jak zpracováváme osobní údaje při poskytování právních služeb a právního poradenství v rámci činnosti Advokátní kanceláře ŠIMKOVÁ LEGAL, s.r.o., se sídlem Římská 103/12, 120 00 Praha 2 - Vinohrady, IČ: 283 93 309, zapsané v obchodním rejstříku vedeném u Městského soudu v Praze, pod sp. zn. C 138376.
					br
					p Máte-li jakékoli dotazy související se zpracováním osobních údajů, můžete se na nás obrátit:
					ul
							li telefonicky na čísle +420 775 854 047
							li e-mailem na recepce@simkovalegal.cz 
							li poštou na adresu naší kanceláře: Římská 103/12, 120 00 Praha 2 - Vinohrady.
					p Veškeré kontaktní údaje naleznete také na našich internetových stránkách na tomto odkazu.
					br
					p Při zpracování osobních údajů se řídíme Obecným nařízením o ochraně údajů (Nařízení (EU) 2016/679), dle kterého jsme správcem osobních údajů, neboť v rámci výkonu naší činnosti zaznamenáváme, shromažďujeme, uchováváme a jinými způsoby zpracováváme osobní údaje.
					h2 Pro jaké účely zpracováváme osobní údaje?
					p Osobní údaje zpracováváme za tím účelem, abychom Vám mohli poskytnout naše služby. Osobní údaje zpracováváme pro tyto účely:
					ul
						li Výkon činnosti, sjednání a plnění smluv, zejména smluv o poskytování právních služeb či plnění požadavků klientů, tj. faktický výkon právních služeb podle právních předpisů upravujících výkon advokacie; vztahy s obchodními partnery;
						li Plnění právních povinností, a to zejména povinností ve smyslu účetní a daňové legislativy, tedy předávání osobních údajů orgánům finanční správy, případně dalším orgánům veřejné moci v souladu s příslušnými právními předpisy; řádné vedení advokátního spisu včetně e-mailové komunikace, seznamu kontaktů a poskytovaných služeb;
						li Zasílání obchodních sdělení a nabídky služeb. Můžeme Vám zasílat obchodní sdělení či newslettery, zejména z oblasti práva, a nabízet naše služby prostřednictvím e-mailu. K tomu nepotřebujeme Váš souhlas, neboť se jedná o náš oprávněný zájem nabídnout našim klientům další služby. Samozřejmě však nechceme nikoho obtěžovat, nebude-li si to přát. Zasílání obchodních sdělení a nabídek je možné jedním klinutím na konci e-mailové zprávy zrušit );
						li Ochrana práv a právem chráněných zájmů nás a ochrana oprávněných zájmů třetích osob (našich klientů a jiných osob) v souladu s pravidly upravujícími výkon advokacie (např. identifikace osob v prostorách advokátní kanceláře).
					h2 Jaké osobní údaje zpracováváme?
					p Tyto Zásady zpracování osobních údajů se vztahují na zpracování osobních údajů námi získaných:
					ul
						li při Vaší návštěvě webových stránek www.simkovalegal.cz,
						li při komunikaci s Vámi prostřednictvím e-mailu či telefonu,
						li v průběhu trvání obchodního vztahu s klienty a dodavateli,
						li při plnění našich právních povinností
						li nezbytných pro účely ochrany našich oprávněných zájmů.
					p Zpracováváme zejména tyto 
						b kategorie osobních údajů:
					ul
						li identifikační údaje - jméno, příjmení, titul, datum narození, rodné číslo, IČO, DIČ apod.;
						li kontaktní údaje - adresa, telefonní číslo, e-mailová adresa apod.;
						li platební a jiné finanční údaje - zejména číslo bankovního účtu;
						li údaje o kvalifikaci a pracovních zkušenostech subjektu údajů jako uchazeče o zaměstnání v advokátní kanceláři;
						li údaje, které advokátní kanceláři poskytli její klienti nebo jejich právní zástupci v rámci plnění smlouvy o poskytování právních služeb;
						li jakékoli další, výše výslovně neuvedené osobní údaje poskytnuté advokátní kanceláři subjektem údajů.
					p Osobní údaje jsou zpracovávány manuálně i automatizovaně. K automatizovanému zpracování osobních údajů dochází zejména pro účely plnění smluvního vztahu a nabízení služeb.
					h2 Jaká máme oprávnění k tomu, abychom zpracovávali Vaše osobní údaje?
					p Zpracování Vašich osobních údajů provádíme pouze na základě zákonem daného důvodu.
					p Ve valné většině případů je zpracování osobních údajů nezbytné pro splnění smlouvy, tedy nejčastěji smlouvy o poskytování právních služeb. V tomto případě nepotřebujeme ke zpracování Váš souhlas.
					p V některých případech provádíme zpracování osobních údajů z titulu našeho oprávněného zájmu. Jedná se například o zaslání obchodních sdělení a nabídky služeb nebo v případech, kdy uplatňujeme naše nároky. O náš oprávněný zájem se jedná i v případě zpracovávání základních dat o návštěvnosti našich webových stránek. V žádném z těchto případů nepotřebujeme ke zpracování Váš souhlas.
					h2 Jak dlouho uchováváme Vaše osobní údaje?
					p Doba, po kterou budeme zpracovávat Vaše osobní údaje je daná našimi povinnostmi vyplývajícími ze smlouvy, kterou jsme s Vámi uzavřeli a dalšími povinnostmi, které nám ukládá zákon, např. archivace účetních dokladů.
					p V ostatních případech zpracování osobních údajů záleží na trvání Vašeho souhlasu či na trvání našeho oprávněného zájmu.
					h3 Právo na přístup k osobním údajům
					p Máte právo získat informace o tom, zda a jaké Vaše osobní údaje zpracováváme.
					h3 Právo na opravu nepřesných a doplnění neúplných osobních údajů
					p Domníváte-li se, že o Vás zpracováváme nepřesné či neúplné osobní údaje, máte právo požadovat jejich opravu a doplnění; oprava či doplnění bude provedena bez zbytečného odkladu.
					h3 Právo na výmaz osobních údajů
					p Máte právo na výmaz osobních údajů, tj. můžete se na nás obrátit s žádostí, aby Vaše osobní údaje, které zpracováváme, byly vymazány. Aby mohly údaje být vymazány, musí se jednat o jeden z těchto případů: (i) údaje nejsou potřebné pro účel, pro který byly zpracovávány, (ii) pokud jste odvolal/a souhlas se zpracováním údajů, (iii) údaje byly zpracovány protiprávně, (iv) údaje musí být vymazány ke splnění právní povinnosti, nebo (v) údaje byly shromážděny v souvislosti s nabídkou služeb informační společnosti.
					h3 Právo na omezení zpracování osobních údajů
					p Máte právo na omezení zpracování osobních údajů, tj. můžete na nás obrátit, abychom omezili zpracování Vašich osobních údajů. Aby mohlo zpracování údajů být omezeno, musí se jednat o jeden z těchto případů: (i) popíráte přesnost Vašich osobních údajů, nebo (ii) zpracování údajů je protiprávní, ale odmítáte výmaz takových osobních údaj, nebo (iii) budete požadovat zpracování osobních údajů pro potřeby uplatnění Vašich nároků, přestože již byl splněn účel, pro který byly údaje zpracovávány, nebo (iv) jste vznesl/a námitku proti zpracování a zatím nebylo ověřeno, zda náš oprávněný zájem převažuje nad Vašimi oprávněnými zájmy.
					h3 Právo na přenositelnost údajů
					p Máte právo na přenos osobních údajů, tj. můžete se na nás obrátit, abychom Vám Vaše osobní údaje poskytli ve strukturovaném, běžně používaném a strojově čitelném formátu nebo aby tyto údaje byly rovnou přeneseny k jinému správci. K přenosu údaje může dojít jedině v případě, že zpracování je založeno na uzavřené smlouvě nebo na Vašem souhlasu a zároveň se jedná o automatizované zpracování.
					h3 Právo vznést námitku
					p Můžete vznést námitku proti zpracování osobních údajů, které provádíme na základě svého oprávněného zájmu. V takovém případě již Vaše osobní údaje nebudou dále zpracovávány, ledaže prokážeme, že náš oprávněný zájem převyšuje Váš.
					h3 Právo obrátit se na Úřad pro ochranu osobních údajů
					p Aktuální kontaktní údaje jsou dostupné na webových stránkách 
						a(href="https://www.uoou.cz" target="_blank") www.uoou.cz.

